{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>
            Здравствуйте, {{ request.user.username }}
        </h1>
    {% endif %}
    <h1>Блоги</h1>
    {% for blog in blog_list %}
        <p>
            {{ blog.id }},
            {{ blog.user.username }}
            {% if blog.subscribed %}
                <form action="{% url 'unsubscribe' blog.id %}">
                    <button type="submit">Отписаться</button>
                </form>
            {% else %}
                <form action="{% url 'subscribe' blog.id %}">
                    <button type="submit">Подписаться</button>
                </form>
            {% endif %}
        </p>
    {% endfor %}

    <hr>
    <h1>Записи</h1>

    {% for entry in entry_list %}
        {% comment %}
            Возможно, здесь нужно будет все-таки показывать
            что-то о записи, которая помечена, как прочитанная
        {% endcomment %}
        {% if not entry.mark_read %}
            <h2>{{ entry.title }}</h2>
            <p>
                {{ entry.text }}
            </p>
            <p>
            <form action="{% url 'mark_read' entry.id %}">
                <button type="submit">Пометить прочитанным</button>
            </form>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}